* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changed color to meet accessibility standars and make text more legible. c */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.brandname{
    display: inline-block;
    font-size: 48px;
}

/* Changed color to #fffff and added opacity to acheive visual emphasis while still increasing legibility */
.seo {
   color: #ffffff;
   opacity: .8;
}

.navBar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navList {
    list-style-type: none;
}

.navLink {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Changed font size to be more easily read */
p {
    font-size: 18px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.mainContent {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.mainContentBox {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.mainContentBox img {
    max-height: 200px;
}

.mainContentH2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Changed background color to match main content to meet accessibility criteria */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

.asideContentItem {
    margin-bottom: 32px;
    color: #ffffff;
}
.asideContentH3 {
    margin-bottom: 10px;
    text-align: center;
}

.asideContentImage {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
